body {
    margin-top: 5%;
    height: 100%;
    background-color: black;
   
    box-sizing: border-box;
}

html {
    height: 100%;
}
.box {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
    align-content: center;
}

.carousel-control-prev {
    margin: 30% 0;
}

p {
    float: right;
    color: rgb(51, 49, 49);
}

#button {
    float: left;
}

#jsbtn {
    
    background-color: black;
    color: rgb(51, 49, 49);
    border: none;
}

img {
    height: 70%;
    width: 75%;
    
}

.carousel-item {
    width: 100%;
    max-height: 750px;
}

.carousel-item img {
    width: 100%;
}

.carousel-item .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* div:-webkit-full-screen {
    width: 100% !important;
  }
  div:-moz-full-screen {
    width: 100% !important;
  }
  div:-ms-fullscreen {
    width: 100% !important;
  }
  div:fullscreen {
    width: 100% !important;
  }
  
  /* While in fullscreen, hide any children with class 'tohide' */
  /* :-webkit-full-screen .tohide {
    display: none;
  }
  :-moz-full-screen .tohide {
    display: none;
  }
  :-ms-fullscreen .tohide {
    display: none;
  }
  :fullscreen .tohide {
    display: none;
  } */ 

@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}